<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.ChardataMapper">
    <select id="list" resultType="com.example.domain.ChartdataVO">
        select * from chartdata where dname=#{dname}
    </select>
</mapper>