<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.ChatRoomMapper">
    <insert id="create">
    	insert chatRoom(doctorid, userid) values(#{doctorid}, #{userid})
    </insert>
    <select id="roominfo" resultType="com.example.domain.ChatRoomVO">
    	select * from chatRoom where crno=#{crno}
    </select>
    <select id="selcrno" resultType="int">
    	select crno from chatroom where doctorid=#{doctorid} and userid=#{userid}
    </select>
</mapper>